.media
  .media-left
    = link_to user_path(current_user) do
      = image_tag(comment.user.avatar, { alt: "64x64", data: { src: "holder.js/64x64", holder: { rendered: "true" } } })
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.name
      %a.anchorjs-link{ href: '#top-aligned-media' }
        %span.anchorjs-icon
    %p
      = comment.text
