.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = render @prototypes
          .form-group.col-md-2
            %button.btn.btn-primary Comment


            