<<<<<<< HEAD
.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = render @prototypes
          .form-group.col-md-2
            %button.btn.btn-primary
              Comment
=======
.container.proto-list
  .row
    #prototype_order
      = render @prototypes
            
>>>>>>> Like・コメント機能の実装
